@import "../../../assets/css/global-variables.scss";

.progressbar-area{
    width:960px;
    padding:0;
    margin-left:15px;
    margin-top:-20px;
}

.progressbar-parent {
    width: 100%;
    background-color: $div-background-color;
}

.progressbar {
    width: 0;
    line-height: 20px;
    height: 20px;
    background-color: $success-color;
    overflow-x:hidden;
}