@import "../../../assets/css/global-variables.scss";

$parent-card-background-color: $div-background-color;
$card-background-color: $card-background-color;
$card-background-color-disabled: $card-background-color-disabled;
$card-font-color: $card-text-color;
$card-background-color-hover: $card-background-color-hover;
$card-font-color-hover: $card-text-color-hover;

.controls{
    background-color: $parent-card-background-color;  
    height:560px;  
}

.description-area{
    padding:0;

    h2{
        margin-top:0;
    }

    h3{
        height: 20vh;
        padding-right:20px;
        overflow-y:scroll;
        word-wrap: break-word;
        text-align: justify;
    }
}

.exercise-area{
    &:first-child{
        margin-left:0;
    }
}

.card{
    background-color: $card-background-color;
    color:$card-font-color;
    width: 10vw;
    height: 100px;
    margin:1% 2%;
    float:left;
    text-align: center;
    padding-top:20px;
    text-overflow: ellipsis;
    transition: ease 0.2s;
    cursor:pointer;

    &:hover{
        background-color: $card-background-color-hover;
        color: $card-font-color-hover;
    }
}

.card-active{
    background-color: $card-background-color-hover;
    color: $card-font-color-hover;
}

.card-disabled{
    background-color: $card-background-color-disabled;
    color:$card-font-color;
    width: 10vw;
    height: 100px;
    margin:1% 2%;
    float:left;
    text-align: center;
    padding-top:20px;
    text-overflow: ellipsis;
    transition: ease 0.2s;
}

.exercise-control-previous{
    float:right;
    line-height: 45px;
    height:25px;
    cursor:pointer;
}

.exercise-control-next{
    line-height: 45px;
    cursor:pointer;
}

.button-start{
    background-color: transparent;
    border: solid $alt-font-color 2px;

    &:hover{
        background-color: $card-background-color;
        border: solid transparent 2px;
        color:$card-font-color;
    }
}

.exercise-name{
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    font-weight: bold;
    font-size:1.1em;
}

.startButtonDiv{
    text-align: center;

    button{
        margin-top:.5%;
    }
}

::-webkit-scrollbar {
  width: 6px;   
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: rgba(77,0,192,0.8);
}