@import "../assets/css/global-variables.scss";
body {
    background-image: url('/assets/images/background.jpg');
}

#logoutButton {
    padding: 0;
    background-color: transparent;
    border: none;
}

#logoutImg {
    width: 60px;
    height: 60px;
}

.navbar-header {
    line-height: 60px;
}

.navigatieheader {
    padding-right: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px black;
}

.uidModal-class {
    color: black;
    .uid-paragraph {
        font-weight: bold;
    }
}

.nav.navbar-nav {
    .navbar-item:hover {
        color: #5e5e5e;
        cursor: pointer;
    }
    .navbar-item {
        color: white;
        vertical-align: center;
    }
}

.navbutton {
    margin-top: 0%;
}

.brand,
.navbar-item {
    line-height: 60px;
    padding: 0px;
    padding-left: 15px;
}