@import "../../../../assets/css/global-variables.scss";

@font-face {
font-family: 'Ostrich';
src: url('../../../../assets/fonts/OstrichSans-Black.otf');
font-weight: bold;
}

$title-font: "Ostrich";
$input-font: $input-font;
$input-color: $main-text-color;
$success-button-color: $success-color;
$error-color: $error-text-color;

h1{
  text-align:center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: $title-font;
  font-size: 5em;
}

form {
  width: 400px;
  margin: auto;
}

.form-group {
  width: 90%;
  margin: auto;
}

.form-control{
  -webkit-transition: all 0.1s ease; /* Safari and Chrome */
  -moz-transition: all 0.1s ease; /* Firefox */
  -o-transition: all 0.1s ease; /* Opera */
  transition: all 0.1s ease; 

  &:focus{
  -webkit-transform:scale(1.15); /* Safari and Chrome */
  -moz-transform:scale(1.15); /* Firefox */
  -ms-transform:scale(1.15); /* IE 9 */
  -o-transform:scale(1.15); /* Opera */
  transform:scale(1.15);
  }
}

input {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  height: 40px;
  color:$input-color;
  font-size: 15px;
  border-radius: 5px;
  font-family: $input-font;
}

.buttons {
  margin: auto;
  margin-top: 5%;
  width: 80%;
  text-align: center;

  button {
    width: 100%;
  }

  a {
    width: 100%;
    height: 25px;
    font-size: 15px;
    margin-top: 3%;
  }

  .register-button{
    border: $card-background-color 2px solid;
    background-color:transparent;
    font-size:1.3em; 
    transition: ease .3s;

    &:hover{
      background-color: $card-background-color;
      color:$card-text-color;
    }
  }

  .login-button{
    &:hover{
      color: $alt-font-color;
    }
  }
}

.errMsg{
  padding: 5px;
  width:80%;
  margin:auto;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align:center;
  color:$error-color;
  background-color:$error-background-color;
  border-radius: 5px;
}


