@import "../../../assets/css/global-variables";

.wrapper{
    position:absolute;
    top:30vh;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}

.title{
    font-size: 6em;
}

.user-id{
    font-weight: bold;
    color: #C19AFF;
}

.copy-button{
    background-color: #C19AFF; 
    margin-top: 1%;
    width: 150px;
    font-size: 1.3em;
}