/* You can add global styles to this file, and also import other style files */
html
{
    -webkit-app-region:drag;
    
}
body{
    -webkit-app-region:drag;
}

button{
    -webkit-app-region: no-drag;    
}

