<div id="uidModal" class="modal fade uidModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Uid</h4>
            </div>
            <div class="modal-body">
                <p>Give this Uid to your mentor to start the Joint Effort</p>
                <p id="uid" class="uid" #uid>{{userUid}}</p>
                <button (click)="copyUserId(uid)"> COPY</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <h1 class="col-xs-12 title">{{currentProgram?.name}}</h1>
    <!--<button class="btn btn-warning" (click)="playMockData(1)">Play linkerhand</button>    
    <button class="btn btn-warning" (click)="playMockData(2)">Play rechterhand</button>-->
    <!--<button (click)="loadExcercise(1)">getEx1</button>-->
    <!--    <button (click)="createCompletedExercise()">createCompletedEX</button>
-->
    <div class="canvas-area col-xs-7">
        <canvas class="placeholder-canvas" width="960" height="540"></canvas>
        <canvas id="colorframecanvas" class="color-frame-canvas" width="640" height="360" style="position:absolute"></canvas>
        <canvas id="bodyframecanvas" width="960" height="540" style="position:absolute"></canvas>
        <canvas id="exercisecanvas" width="960" height="540" style="position:absolute"></canvas>
    </div>
    <div class="col-xs-5 controls">
        <!--        <button class="btn btn-warning" (click)="playMockData(4)">Play arrow to the knee</button>-->
        <h2 class="col-xs-12">Exercise</h2>
        <div class="col-xs-12 exercise-area">
            <div (click)="changeExercise(exercise.exerciseId)" *ngFor="let exercise of fullExercisesOfCurrentProgram | slice:start:end" class="card">
                <p class="col-xs-12 exercise-name">{{exercise.name}}</p>
                <p class="col-xs-12">Steps: {{exercise.steps.length}}</p>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <p class="exercise-control-previous" (click)="showPreviousExercises()">{{start}} <span class="glyphicon glyphicon-chevron-left"></span></p>
                </div>
                <div class="col-xs-6">
                    <p class="exercise-control-next" (click)="showNextExercises()"><span class="glyphicon glyphicon-chevron-right"></span> {{end}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 description-area">
            <h2 class="col-xs-12">Description</h2>
            <h3 class="col-xs-12">{{currentFullExercise?.description}}</h3>
        </div>
        <div class="col-xs-12 startButtonDiv">
            <button class="col-xs-6" id="btnStartExercise" class="btn button-start" (click)="drawExcercise()"> Start Excercise</button>
        </div>
    </div>
    <progressbar></progressbar>
    <div class="col-xs-7 joint-area">
        <h3 class="col-xs-6">Joint 1: {{jointList[currentFullExercise?.steps[currentStepNr]?.jointType]?.name}}</h3>
        <h3 *ngIf="currentFullExercise?.steps[currentStepNr]?.stepType == 2" class="col-xs-6">Joint 2: {{jointList[currentFullExercise?.steps[currentStepNr]?.secondJointType]?.name}}</h3>
    </div>
</div>