<div id="uidModal" class="modal fade uidModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Uid</h4>
            </div>
            <div class="modal-body">
                <p>Give this Uid to your mentor to start the Joint Effort</p>
                <p id="uid" class="uid" #uid>{{userUid}}</p>
                <button (click)="copyUserId(uid)"> COPY</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <h1 class="col-xs-6 title">{{currentProgram?.name}}</h1>
    <h1 *ngIf="timer!=null" class="col-xs-2 title">Time: {{timer}}</h1>
    <div class="canvas-area col-xs-7">
        <!--<canvas class="placeholder-canvas" width="960" height="540"></canvas>-->
        <div id="webcam" class="webcam"> </div>
        <canvas id="bodyframecanvas" width="960" height="540" style="position:absolute"></canvas>
        <canvas id="exercisecanvas" width="960" height="540" style="position:absolute"></canvas>
    </div>
    <exercises [fullExerciseList]="fullExercisesOfCurrentProgram" [exerciseList]="exercisesOfCurrentProgram" [changes]="changes" (notify)='onNotify($event)'></exercises>
    <progressbar></progressbar>
    <div class="col-xs-7 joint-area">
        <h3 class="col-xs-6"> {{jointList[currentFullExercise?.steps[currentStepNr]?.jointType]?.name}}</h3>
        <h3 *ngIf="currentFullExercise?.steps[currentStepNr]?.stepType == 2" class="col-xs-6"> {{jointList[currentFullExercise?.steps[currentStepNr]?.secondJointType]?.name}}</h3>
    </div>
</div>
<completedExercise [completedExercise]="completedExercise" [currentExercise]="currentFullExercise"> </completedExercise>