$currentProgramHeader:"yellow";
select{
    color:black;
}

#uidModal{
    color:black;

    #uid{
    font-weight: bold;
    }
}

.wrapper{
    margin-left: 5%;
    margin-right: 5%;
}

.startButtonDiv{
    margin-top:25px;
}

.header-current-program
{
    color:$currentProgramHeader
}

#colorframecanvas
{
    width:960px;
    height: 540px;
}

.placeholderCanvas{
    position:absolute; 
    background-image:url('../../../assets/images/kinectBeforeStart.jpg');
}